In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/santh/Downloads/tmdb_5000_movies.csv")

In [4]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
null_data = df[df.isnull().any(axis=1)]

In [6]:
null_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eighth wonder of the world.,King Kong,6.6,2337
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Battle for Earth Begins at Sea,Battleship,5.5,2114
33,210000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,36668,"[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...",en,X-Men: The Last Stand,"When a cure is found to treat mutations, lines...",3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-05-24,459359555,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Take a Stand,X-Men: The Last Stand,6.3,3525

In [7]:
df = df.fillna(0)

In [8]:
df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [9]:
import json
from pandas.io.json import json_normalize

In [10]:
def categorical_genres(df):
    arr = df['genres']
    genre_temp_all = []
    features_genres = ['Action', 'Adventure', 'Fantasy', 'Science Fiction' ]
    for x in arr:
        loaded_json = json.loads(x)
        genres_all_single_movie = []
        for i in range(len(loaded_json)):
            if (loaded_json[i]['name'] in features_genres):
                genres_all_single_movie.append(loaded_json[i]['name'])
            elif (loaded_json[i]['name'] not in features_genres) and (loaded_json[i]['name'] != ''):
                genres_all_single_movie.append("Other")    
        
        genre_temp_all.append(','.join(genres_all_single_movie))
    
    df_genres = pd.DataFrame({'Genres_all':genre_temp_all})   
    return df_genres

In [11]:
df_genres = categorical_genres(df)

In [12]:
df = pd.concat([df, df_genres['Genres_all'].str.get_dummies(sep=',')], axis=1)

In [13]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,status,tagline,title,vote_average,vote_count,Action,Adventure,Fantasy,Other,Science Fiction
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,1,1,1,0,1
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,1,1,1,0,0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,A Plan No One Escapes,Spectre,6.3,4466,1,1,0,1,0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,Released,The Legend Ends,The Dark Knight Rises,7.6,9106,1,0,0,1,0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,Released,"Lost in our world, found in another.",John Carter,6.1,2124,1,1,0,0,1

In [15]:
numeric = df._get_numeric_data()

In [16]:
numeric.head()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,Action,Adventure,Fantasy,Other,Science Fiction
0,237000000,19995,150.437577,2787965087,162.0,7.2,11800,1,1,1,0,1
1,300000000,285,139.082615,961000000,169.0,6.9,4500,1,1,1,0,0
2,245000000,206647,107.376788,880674609,148.0,6.3,4466,1,1,0,1,0
3,250000000,49026,112.312950,1084939099,165.0,7.6,9106,1,0,0,1,0
4,260000000,49529,43.926995,284139100,132.0,6.1,2124,1,1,0,0,1

In [17]:
fnum = numeric.dropna()

In [18]:
fnum.head()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,Action,Adventure,Fantasy,Other,Science Fiction
0,237000000,19995,150.437577,2787965087,162.0,7.2,11800,1,1,1,0,1
1,300000000,285,139.082615,961000000,169.0,6.9,4500,1,1,1,0,0
2,245000000,206647,107.376788,880674609,148.0,6.3,4466,1,1,0,1,0
3,250000000,49026,112.312950,1084939099,165.0,7.6,9106,1,0,0,1,0
4,260000000,49529,43.926995,284139100,132.0,6.1,2124,1,1,0,0,1

In [21]:
X.head()

,popularity,revenue,runtime,vote_count,Action,Adventure,Fantasy,Other,Science Fiction
0,150.437577,2787965087,162.0,11800,1,1,1,0,1
1,139.082615,961000000,169.0,4500,1,1,1,0,0
2,107.376788,880674609,148.0,4466,1,1,0,1,0
3,112.312950,1084939099,165.0,9106,1,0,0,1,0
4,43.926995,284139100,132.0,2124,1,1,0,0,1

In [20]:
X = fnum[['popularity','revenue','runtime','vote_count','Action','Adventure','Fantasy','Other','Science Fiction']]
Y = fnum['vote_average']

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [43]:
#from sklearn.linear_model import LinearRegression
lm = LinearRegression()
m_fit = lm.fit(X_train,y_train)
print(lm.score(X_test,y_test))

0.23377123642096564

In [44]:
print(lm.intercept_)
pd.DataFrame(zip(X.columns,lm.coef_), columns= ['features','coefficient'])

3.709197369866677

          features   coefficient
0       popularity  6.143029e-03
1          revenue -1.059781e-09
2          runtime  1.575898e-02
3       vote_count  2.642387e-04
4           Action -2.948440e-01
5        Adventure  2.119273e-02
6          Fantasy -4.763560e-02
7            Other  6.017363e-01
8  Science Fiction -1.616536e-01

In [45]:
prediction = m_fit.predict(X_test)

In [46]:
prediction

array([6.44504195, 6.51412272, 6.09216899, ..., 6.09837078, 6.57523048,
       5.38169392])

In [47]:
dfnew = pd.DataFrame({'Actual': y_test, 'Predicted': prediction})
dfnew.head()

      Actual  Predicted
2501     7.7   6.445042
3526     7.9   6.514123
942      7.3   6.092169
2735     5.2   5.831389
130      6.3   6.267474

In [48]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
VT = sel.fit_transform(fnum)

In [49]:
VT[0:5]

array([[2.37000000e+08, 1.99950000e+04, 1.50437577e+02, 2.78796509e+09,
        1.62000000e+02, 7.20000000e+00, 1.18000000e+04, 1.00000000e+00],
       [3.00000000e+08, 2.85000000e+02, 1.39082615e+02, 9.61000000e+08,
        1.69000000e+02, 6.90000000e+00, 4.50000000e+03, 1.00000000e+00],
       [2.45000000e+08, 2.06647000e+05, 1.07376788e+02, 8.80674609e+08,
        1.48000000e+02, 6.30000000e+00, 4.46600000e+03, 1.00000000e+00],
       [2.50000000e+08, 4.90260000e+04, 1.12312950e+02, 1.08493910e+09,
        1.65000000e+02, 7.60000000e+00, 9.10600000e+03, 1.00000000e+00],
       [2.60000000e+08, 4.95290000e+04, 4.39269950e+01, 2.84139100e+08,
        1.32000000e+02, 6.10000000e+00, 2.12400000e+03, 1.00000000e+00]])

In [50]:
X = fnum[['popularity','revenue','runtime','vote_count','Action','Adventure']]
Y = fnum['vote_average']

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [52]:
lm = LinearRegression()
m_fit = lm.fit(X_train,y_train)
print(lm.score(X_test,y_test))

0.2109490459258464

In [56]:
from sklearn.feature_selection import RFE
rfe = RFE(lm,3)
featu = rfe.fit(X,Y)
print("Num Features: %s" % (featu.n_features_))
print("Selected Features: %s" % (featu.support_))
print("Feature Ranking: %s" % (featu.ranking_))

Num Features: 3
Selected Features: [False False  True False  True  True]
Feature Ranking: [2 4 1 3 1 1]

In [57]:
X = fnum[['runtime','Action','Adventure']]
Y = fnum['vote_average']

In [58]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [59]:
lm = LinearRegression()
m_fit = lm.fit(X_train,y_train)
print(lm.score(X_test,y_test))

0.17243878209424857